CalendarBase
ContentBuilder
CoreForecast
CrtAnalyticsDashboard
CrtBase
CrtBaseConsts
CrtC360InUiV2
CrtCalendar
CrtCall
CrtContactToLeadInC360
CrtContract
CrtContractDocument
CrtContractVisaProvider
CrtCopilot
CrtCore
CrtCoreBase
CrtCustomer360App
CrtCustomer360Mobile
CrtDeduplication
CrtDesignerTools
CrtDocument
CrtDocumentInOpportunity
CrtEmailSender
CrtEmailTemplate
CrtFeatureToggling
CrtInvoice
CrtInvoiceContract
CrtInvoiceInC360
CrtInvoiceOrder
CrtInvoiceVisaProvider
CrtKnowledgeManagementApp
CrtKnowledgeManagementInCaseMana
CrtKnowledgeManagementObject
CrtLead
CrtLeadOppMgmtApp
CrtLeadOppMgmtInC360
CrtMacrosBase
CrtMarketingInC360
CrtMessage
CrtML
CrtMLangContent
CrtMLLeadConversion
CrtMLLeadScoring
CrtMLOpportunityScoring
CrtNextStep
CrtNUI
CrtOCMInLeadOppMgmt
CrtOmnichannelApp
CrtOpportunity
CrtOpportunityInC360
CrtOpportunityInvoice
CrtOpportunityManagement
CrtOrder
CrtOrderContract
CrtOrderContractInC360
CrtOrderContractMgmtApp
CrtOrderDocument
CrtOrderLead
CrtOrderVisaProvider
CrtPlaybook
CrtProductBase
CrtProductCatalogue
CrtProductCatalogueInInvoice
CrtProductCatalogueInOrder
CrtProductivityApp
CrtProductivityMobile
CrtProductSpecification
CrtRecommendedProduct
CrtSalesContracts
CrtSalesInC360
CrtSecurity
CrtSecurity7x
CrtSimilarLead
CrtSmsIntegration
CrtSpecification
CrtSupplyPayment
CrtTouchPoint
CrtTouchPointBase
CrtTouchPointInC360
CrtTouchPointInLead
CrtUIPlatform
CrtUIPlatform7x
CrtUISwitcher
CrtUIv2
CrtWebFormBase
CrtWebhookServiceBase
CSP
Custom
FeatureToggling
Finesse
FolderTree
IntegrationV2
MLProcessDesigner
OmnichannelMessaging
OpenIdAuth
Opportunity
PivotTable
RelationshipDesigner
SalesMainShell
ServiceDesigner
SsoSettings
SspWorkplace
Workplace
XSSProtection
generated.sln
placeholder.txt